body{
    background-color: black;
    padding: 0;
    margin: 0;
}

.div1 h1{
    color: white;
    font-size: 20px;
    font-family: "Abel", sans-serif;
}

.div2{
    color: white;
    display: flex;
    gap: 60px;
    font-family: "Abel", sans-serif;
}

.div3{
    width: 40px;
    height: 40px;
}

.imgdiv3{
    width: 100%;
    height: 100%;
}

.navbare{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 300px;
    margin-top: 30px;
    padding: 0;
}

.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-top: 50px;
    font-size: 30px;
}

.div4{
    color: white;
    display: flex;
    flex-direction: column;
} 

.div4 p{
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
}

.div4 h1{
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
    color: #A6BBCC;
    font-weight: bold;
}

.div5{
    margin-top: 40px;
}

.div5 p{
    font-family: "Abel", sans-serif;
    font-weight: bold;
}

.divligne{
    width: 130px;
    height: 2px;
    background-color: #A6BBCC;
    border-radius: 10px;
}

.div6{
    width: 400px;
    height: 450px;
}

.div6 img{
    height: 100%;
    width: 100%;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}

.div7{
    font-family: "Abel", sans-serif;
    font-weight: bold;
    color: #A6BBCC;
    display: flex;
    align-items: center;
    gap: 30px;
}

.div10{
    width: 900px;
    height: 2px;
    background-color: #A6BBCC;
    border-radius: 10px;
}

.section3 p{
    color: white;
    font-family: "Abel", sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.div8{
    color: white;
    display: flex;
    gap: 130px;
}

.div11{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.div11 h1{
    font-family: "Abel", sans-serif;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.div11 p{
    font-size: 25px;
}

.div111{
    width: 210px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    background-color: #A6BBCC;
}

.div112{
    width: 180px;
    height: 2px;
    background-color: white;
    border-radius: 20px;
    background-color: #A6BBCC;
}

.div113{
    width: 225px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    background-color: #A6BBCC;
}